---
import dayjs from 'dayjs';
import path from 'node:path';
import Layout from '../layout/Layout.astro';
import GoBackButton from '../components/GoBackButton.astro';
import Link from '../components/Link.astro';
import simpleGit, { type DefaultLogFields, type ListLogLine } from 'simple-git';
import { linkToMyRepo } from '../utils/links.ts';

type GitLogCommit = DefaultLogFields & ListLogLine;

interface Props {
  lastCommit: GitLogCommit | null;
}

export async function getStaticPaths() {
  const git = simpleGit();
  let lastCommit: GitLogCommit | null = null;
  const file = path.join(process.cwd(), 'src', 'pages', 'now.astro');

  try {
    const log = await git.log({ file });
    lastCommit = log.latest;
  } catch (err) {
    console.error(err);
  }

  return {
    props: { lastCommit },
  };
}

const { lastCommit } = Astro.props;
---

<Layout>
  <GoBackButton />
  <section>
    <h1>Now</h1>
    <p>Last update: {dayjs(lastCommit?.date).format('YYYY-MM-DD HH:mm')}</p>
  </section>
  <section>
    <p>I'm currently working as a freelance software engineer.</p>
    <p>I also work part time as a barista ☕</p>
  </section>
  <article>
    <section>
      <h2>What am I coding?</h2>
      <p>
        I'm studying back-end development with <Link
          href='https://www.oracle.com/br/education/oracle-next-education/'
          >Oracle Next Education
        </Link>.
      </p>
      <p>
        I'm also working on some side projects:
        <ul>
          <li>Maintaining this blog and creating a writing habit</li>
          <li>
            <Link href={linkToMyRepo('next-medusa-strapi')}
              >Next.js + Medusa E-commerce starter project</Link
            > for understanding and building e-commerce applications
          </li>
          <li>Some open source repos that are awesome</li>
        </ul>
      </p>
    </section>
    <section>
      <h2>What are my current interests?</h2>
      <p>
        I'm currently interested in learning more about the following topics:
        <ul>
          <li>Java & Spring ecosystem</li>
          <li>Web front-end frameworks</li>
          <li>System Design</li>
          <li>Literature</li>
        </ul>
      </p>
    </section>
    <section>
      <h2>What am I doing now?</h2>
      <p>
        Some things that I'm doing now:
        <ul>
          <li>Running</li>
          <li>Reading classic literature (especially Brazilian and Russian)</li>
          <li>Hanging out with friends</li>
        </ul>
      </p>
    </section>
    <section>
      <h2>What am I reading now?</h2>
      <p>
        <ul>
          <li>
            Skin in the Game: Hidden Asymmetries in Daily Life, by Nassim
            Nicholas Taleb (translated to pt-br by Renato Brett)
          </li>
          <li>The Fall, by Albert Camus (translated to pt-br)</li>
          <li>
            Crime and Punishment, by Fyodor Dostoyevsky (translated to pt-br by
            Paulo Bezerra)
          </li>
        </ul>
      </p>
    </section>

    <style>
      article {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2x);
      }

      article section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
      }

      li {
        list-style-type: disc;
        margin-left: var(--spacing-2x);
      }
    </style>
  </article>
</Layout>
