---
import dayjs from 'dayjs';
import path from 'node:path';
import Layout from '../layout/Layout.astro';
import GoBackButton from '../components/GoBackButton.astro';
import Link from '../components/Link.astro';
import simpleGit, { type DefaultLogFields, type ListLogLine } from 'simple-git';
import { linkToMyRepo, TWITTER_URL } from '../config.js';

type GitLogCommit = DefaultLogFields & ListLogLine;

interface Props {
  lastCommit: GitLogCommit | null;
}

export async function getStaticPaths() {
  const git = simpleGit();
  let lastCommit: GitLogCommit | null = null;
  const file = path.join(process.cwd(), 'src', 'pages', 'now.astro');

  try {
    const log = await git.log({ file });
    lastCommit = log.latest;
  } catch (err) {
    console.error(err);
  }

  return {
    props: { lastCommit },
  };
}

const { lastCommit } = Astro.props;
---

<Layout>
  <GoBackButton />
  <section>
    <h1>Now</h1>
    <p>Last update: {dayjs(lastCommit?.date).format('YYYY-MM-DD HH:mm')}</p>
  </section>
  <article>
    <section>
      <h2>What am I coding?</h2>
      <p>
        I'm currently working as a software developer at
        <Link href='https://beyondcompany.com.br/'> Beyond Co</Link>.
      </p>
      <p>
        I <Link href={TWITTER_URL}>learn in public</Link>
        and I also participate on tech communities on Discord:
        <ul>
          <li>sibelius' mentorship</li>
          <li>Growly Group</li>
        </ul>
      </p>
      <p>
        I'm also working on some side projects:
        <ul>
          <li>Maintaining this blog and creating a writing habit</li>
          <li>
            Building a
            <Link href={linkToMyRepo('bunchat')}> chat application </Link> 4 fun
            with Bun
          </li>
        </ul>
      </p>
    </section>
    <section>
      <h2>What are my current interests?</h2>
      <p>
        I'm currently interested in learning more about the following topics:
        <ul>
          <li>Software Engineering & Architecture focused on back-end</li>
          <li>System Design</li>
          <li>Literature</li>
        </ul>
      </p>
    </section>
    <section>
      <h2>What am I doing now?</h2>
      <p>
        Some things that I'm doing now:
        <ul>
          <li>Running</li>
          <li>Reading classic literature</li>
          <li>Hanging out with friends</li>
        </ul>
      </p>
    </section>
    <section>
      <h2>What am I reading now?</h2>
      <p>
        <ul>
          <li>
            Skin in the Game: Hidden Asymmetries in Daily Life, by Nassim
            Nicholas Taleb (translated to pt-br by Renato Brett)
          </li>
          <li>
            Crime and Punishment, by Fyodor Dostoyevsky (translated to pt-br by
            Paulo Bezerra)
          </li>
        </ul>
      </p>
    </section>

    <style>
      article {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2x);
      }

      article section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
      }

      li {
        list-style-type: disc;
        margin-left: var(--spacing-2x);
      }
    </style>
  </article>
</Layout>
